@font-face {
    font-family: 'lablife';
    src: url(../font/lablife.woff) format('woff');
}

@font-face {
    font-family: 'kokoro';
    src: url(../font/Kokoro.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'lablife', 'kokoro';
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #81C7D4;
}

#all {
    width: 100%;
}

#hero {
    width: 100%;
    background-image: url(img/group.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 70%;
    position: relative;
}

#hero > img {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25%;
}

#caption {
    width: 940px;
    height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -470px;
}

hr {
    display: inline-block;
    text-align: center;
}

#container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

h1 {
    width: 400px;
    color: #282828;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 8px;
    padding: 20px 0;
    border-bottom: 2px solid #000;
}

.slide{
    width: 2000px;
    margin: 20px auto;
}

.box {
    width: 1000px;
    height: 1000px;
    margin: 30px auto;
}

.cm{
    width: 50%;
    height: auto;
    margin: 30px auto;
    text-align: center;
}

.photo_colle {
    width: 1000px;
    margin: 0 auto;
}

#photos_list {
    width: 90%;
    margin: 20px auto;
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}

#photos_list img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

#loader-bg {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

#loader{
    width: 500px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#loader p{
    color: #282828;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.5em;
    animation-name: flash;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    50%{
        opacity: 0;
    }
  }
